= form_for @article do |f|
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label :content, class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :content, class: 'chat__group_name chat-group-form__input', :value "#{@article}"
      = f.hidden_field :user_id, value: current_user.id

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class: 'chat-group-form__action-btn'
